@import "variables";

.textarea__message{
  width: 300px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.onderwerpInput{
  height: 40px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.label__messages{
  margin-bottom: 10px;
}
.media-heading{
  margin-bottom: 5px;
}
.text-muted{
  margin-top: 5px;
  margin-bottom: 10px;
}
.onderwerpBericht{
  margin-bottom: 5px;
}
.inputReset{
  width: 230px;
  height: 25px;
  margin-bottom: 20px;
  margin-top:20px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
